/aaaa.py
/data
/edge.py
/faceDetectionDemo.py
/faceDetectionDemo_test.py
/flip_data
/frameExtract
/haarcascade_frontalface_default.xml
/image.jpg
/image2.jpg
/imageHash
/imageHash.csv
/image_hash_test.py
/image_test.py
/matrix.py
/sift_es copy 2.py
/sift_es copy.py
/sift_es.py
/test.py
/test2.py
/__pycache__